body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    /*great way to get colors mixed across the scree with "to right"*/
    background-image: linear-gradient(to right, #81D4FA, #2196F3);
    
}



.left-card {
    
    margin-top: 100px;
    margin-left: 350px;
    font-size: x-large;
    border-radius: 30px;
    transform: scale(1.4);
    z-index: 1;
}

.image {
    /*size of the image*/
    width: 800px;
    height: 800px;
    border-radius: 15px;
    left: 50%;
}
#video {
    width: 800px;
    height: 800px;
    border-radius: 30px;
    
}
h2 {
    font-size: 50px;
    font-family: Arial;
}


.large-font {
    font-size: 70px;
    font-family: Arial;
}



.right-card {
    
    background-color: #607D8B;
    padding: 0px 0px 40px 40px;
  
    margin-left: 200px;
    margin-top: 25px;
    border-radius: 15px;
    width: 20%;
    font-size: x-large;
    position: fixed;
    z-index: 100;
}

#input-lable::placeholder {
    width: 100%;
    font-size: x-large;
    color: #B0BEC5 !important;
    opacity: 1;
}
.input {
    margin-top: 15px;
    
}


#search-btn {
    
    background-color: #E1F5FE;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
   
}
#search-btn:hover {
   
    transform: scale(1.2);
    cursor: pointer;
}
/*suggestions*/
.light-text {
    color: #ffffff;
}

.suggestion:hover {
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
}

.line {
    height: 2px;
    background-color: #B0BEC5;
    width: 90%;
}
.noscroll {
   overflow: hidden !important;
}


/* media queries for screens */
@media (min-width: 1441px){

  .left-card {
    transform: scale(1.8);
  }
  .right-card {
    
    transform: scale(1.1);
  }
}

@media (min-width: 1024px) and (max-width: 1440px){
  .left-card {
    transform: scale(2.0);
    margin-top: 320px; 
  }
  .right-card {
    transform: scale(1.3);
  }

}

@media (min-width: 769px) and (max-width: 1024px){
 .left-card {
    float: left;
    transform: scale(3.0);
    margin-top: 290px;
    margin-left: -5px; 
  }
  .right-card {
    transform: scale(1.6);
    margin-top: 450px;
    margin-left: 400px;
  }

}
@media (min-width: 426px) and (max-width: 768px){
  .left-card {
    float: left;
    transform: scale(3.0);
    margin-top: 290px;
    margin-left: -5px; 
  }
  .right-card {
    transform: scale(1.6);
    margin-top: 450px;
    margin-left: 375px;
  }

}

@media (min-width: 376px) and (max-width: 425px){
  .left-card {
    float: left;
    transform: scale(3.0);
    margin-top: 290px;
    margin-left: -5px; 
  }
  .right-card {
    transform: scale(1.6);
    margin-top: 450px;
    margin-left: 200px;
  }
}

@media (min-width: 320px) and (max-width: 375px){
    .left-card {
    float: left;
    transform: scale(3.0);
    margin-top: 290px;
    margin-left: -5px; 
  }
  .right-card {
    transform: scale(1.6);
    margin-top: 350px;
    margin-left: 160px;
  }

}